footer,div,p{
     margin: 0;
     padding: 0;
 }
.bjb{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: black;
}
.row p{
    color: white;
    font-size: 0.8rem;
}
.row p a{
    color:#7b7f82;
    text-decoration: none;
}