@charset "utf-8";
body {
	font-family: "Microsoft YaHei";
	background: #291b0d;
}
.nav{
	width: 1920px;
	height: 87px;
	background: url(../images/nav_bg.png) 50% 0 no-repeat;
	top: 0;
	left: 50%;
	margin-left: -960px;
	z-index: 500;
}
.game_icon{
	width: 122px;
	height: 121px;
	top: 15px;
	left: 55px;
}
.game_icon a{
	width: 122px;
	height: 121px;
	background: url(../images/icon.png) no-repeat;
	top: 0;
	left: 0;
}
.game_icon p{
	font-size: 18px;
	color: #fff;
	width: 200px;
	top: 0;
	left: 132px;
	line-height: 26px;
}
.game_icon p span{
	font-size: 16px;
	color: #9a8b67;
}
.navigation{
	width: 770px;
	height: 56px;
	top: 13px;
	left: 390px;
}
.navigation ul li{
	width: 117px;
	height: 56px;
	background: url(../images/btn_nav.png) no-repeat;
	float: left;
	margin: 0 5px;
	position: relative;
}
.navigation  ul li a{
	width: 117px;
	height: 56px;
	display: block;
}
.navigation  ul li a i,
.navigation  ul li a span{
	position: absolute;
	top: 0;
	left: 0;
	width: 117px;
	height: 56px;
}
.navigation  ul li a i{
	background: url(../images/btn_nav_hover.png) no-repeat;
	-webkit-transition: all .5s;
	transition: all .5s;
	opacity: 0;
}
.navigation  ul li a span{
	text-align: center;
	line-height: 50px;
	color: #c9b98d;
	font-size: 16px;
	font-weight: bold;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.navigation  ul li a:hover i,
.navigation  ul li a.active i{
	opacity: 1;
}
.navigation  ul li a:hover span,
.navigation a.active span{
	text-shadow:#241907 1px 0 0,#241907 0 1px 0,#241907 -1px 0 0,#241907 0 -1px 0;
}
.navigation  ul li.navigation6{
	cursor: pointer;
}
.navigation  ul li.navigation6 p{
	width: 252px;
	height: 590px;
	background: url(../images/drop_down.png?v=2018021216) 50% bottom no-repeat;
	position: absolute;
	top: 0;
	left: -65px;
	line-height: 35px;
	color: #c9b98d;
	font-size: 17px;
	cursor: default;
	display: none;
}
.navigation  ul li.navigation6 p em{
	display: block;
	margin: 135px 0px 0 35px;
}
.navigation  ul li.navigation6 p img{
	width: 160px;
	height: 160px;
	display: block;
	margin: 47px 0 -132px 44px;
}
.navigation  ul li.navigation6 p em.tanlandongku{
	margin: 135px 0px 0 25px;
}
.translateY{
	-webkit-animation: translateY 1s ease forwards;
	animation: translateY 1s ease forwards;
}
@-webkit-keyframes translateY{
	from{
		opacity: 0;
		-webkit-transform: translateY(-10px);
	}
	to{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@keyframes translateY{
	from{
		opacity: 0;
		transform: translateY(-10px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
.masky {
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-mask: url(../images/maskIn.png);
	-webkit-mask-size: 2500% 100%;
}
.maskIn {
	-webkit-mask-position: 0 0;
	-webkit-animation: maskIn .8s steps(24) forwards;
	animation: maskIn .8s steps(24) forwards;
}
@-webkit-keyframes maskIn {
	from {
		-webkit-mask-position: 0 0
	}
	to {
		-webkit-mask-position: 100% 0
	}
}
@keyframes maskIn {
	from {
		-webkit-mask-position: 0 0
	}
	to {
		-webkit-mask-position: 100% 0
	}
}
.warp {
	position: relative;
	max-width: 1920px;
	min-width: 1200px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.bg{
	max-width: 1920px;
	min-width: 1200px;
	height: 1333px;
	background: url(../images/bg.jpg?v=20180329) 50% 0 no-repeat;
}
.bgs{
	width: 1920px;
    height: 1080px;
    top: 0;
    left: 50%;
    margin-left: -960px;
    z-index: 0;
}
.bg2{
	max-width: 1920px;
	min-width: 1200px;
	height: 957px;
	background: url(../images/bg2.jpg) 50% 0 no-repeat;
}
.center {
	width: 1200px;
	height: 100%;
	top: 0;
	left: 50%;
	margin-left: -600px;
}
.subtitle{
	width: 358px;
	height: 62px;
	background: url(../images/subtitle.png?v=20180227) no-repeat;
	top: 145px;
	left: 50%;
	margin-left: -179px;
}
.slogan_light{
	width: 389px;
	height: 392px;
	background: url(../images/slogan_light.png) no-repeat;
	top: 188px;
	left: 50%;
	margin-left: -193px;
	-webkit-animation: op 2s linear infinite;
	animation: op 2s linear infinite;
}
.slogan{
	width: 546px;
	height: 435px;
	background: url(../images/slogan.png?v=20180224) no-repeat;
	top: 136px;
	left: 50%;
	margin-left: -263.5px;
	cursor: pointer;
}
.slogan_starts{
	width: 393px;
	height: 251px;
    -webkit-animation: slogan_starts 2s steps(24) infinite;
    animation: slogan_starts 2s steps(24) infinite;
    background: url(../images/slogan_starts.png) no-repeat;
    background-size: 393px 6024px;
    top: 50%;
	left: 50%;
	margin:-100px 0 0 -210px;
}
@-webkit-keyframes slogan_starts {
    100% {
        background-position: 0 -6024px;
    }
}
@keyframes slogan_starts {
    100% {
        background-position: 0 -6024px;
    }
}
.slogan_txt{
	width: 400px;
	height: 204px;
    -webkit-animation: slogan_txt 3s steps(36) infinite;
    animation: slogan_txt 3s steps(36) infinite;
    background: url(../images/slogan_txt.png) no-repeat;
    -webkit-animation-direction:reverse;
    animation-direction:reverse;
    background-size: 400px 7344px;
    top: 50%;
	left: 50%;
	margin:-107px 0 0 -210px;
}
@-webkit-keyframes slogan_txt {
    100% {
        background-position: 0 -7344px;
    }
}
@keyframes slogan_txt {
    100% {
        background-position: 0 -7344px;
    }
}
.role{
	width: 34px;
	height: 13px;
    -webkit-animation: role 2s steps(24) infinite;
    animation: role 2s steps(24) infinite;
    background: url(../images/role_eye.png) no-repeat;
    background-size: 34px 312px;
    top: 630px;
	left: 50%;
	margin-left: 13.5px;
}
@-webkit-keyframes role {
    100% {
        background-position: 0 -312px;
    }
}
@keyframes role {
    100% {
        background-position: 0 -312px;
    }
}
.download{
	width: 504px;
	height: 169px;
	background: url(../images/download_bg.png) no-repeat;
	top: 738px;
	left: 50%;
	margin-left: -238px;
}
.pic_er{
	width: 118px;
	height: 118px;
	background: url(../images/er_code_bg.png) no-repeat;
	top: 26px;
	left: 33px;
}
.pic_er img{
	width: 100px;
	height: 100px;
	display: block;
	margin: 9px;
}
.btn_AppStore{
	width: 191px;
	height: 58px;
	background: url(../images/btn_appstore.png?v=20180227) no-repeat;
	top: 86px;
	left: 152px;
}
.btn_AppStore i{
	background: url(../images/btn_appstore_hover.png?v=20180227) no-repeat;
}
.btn_Android{
	width: 208px;
	height: 58px;
	background: url(../images/btn_android.png?v=20180227) no-repeat;
	top: 26px;
	left: 144px;
}
.btn_Android i{
	background: url(../images/btn_android_hover.png?v=20180227) no-repeat;
}
.btn{
	text-indent: -999em;
}
.btn i{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all .5s;
	transition: all .5s;
	opacity: 0;
}
.btn:hover i{
	opacity: 1;
}
.btn_welfare{
	width: 140px;
	height: 186px;
	top: -35px;
	left: 345px;
	text-indent: -999em;
}
.btn_welfare i{
	width: 196px;
	height: 197px;
	background: url(../images/welfare_light.png) no-repeat;
	position: absolute;
	top: -18px;
	left: 50%;
	margin-left: -99px;
	-webkit-animation: op 2s linear infinite;
	animation: op 2s linear infinite;
}
@-webkit-keyframes op{
	0%,100%{
		opacity: 0.5;
	}
	50%{
		opacity: 1;
	}
}
@keyframes op{
	0%,100%{
		opacity: 0.5;
	}
	50%{
		opacity: 1;
	}
}
.btn_welfare em{
	width: 140px;
	height: 53px;
	background: url(../images/welfare_txt.png?v=20180227) no-repeat;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -70px;
}
.btn_welfare span{
	width: 122px;
	height: 150px;
	background: url(../images/welfare.png) no-repeat;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -67px;
}
.btn_welfare:hover span{
	-webkit-animation: dong .3s linear infinite;
	animation: dong .3s linear infinite;
}
@-webkit-keyframes dong {
    0%,50%,100%{
        -webkit-transform: rotateZ(0deg);
    }
    25% {
        -webkit-transform: rotateZ(10deg);
    }
    75% {
        -webkit-transform: rotateZ(-10deg);
    }
}
@keyframes dong {
    0%,50%,100%{
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(10deg);
    }
    75% {
        transform: rotateZ(-10deg);
    }
}
.pic_new_bg{
	width: 1197px;
	height: 377px;
	background: url(../images/pic_new.png) no-repeat;
	bottom: 45px;
	left: 50%;
	margin-left: -592.5px;
	z-index: 0;
}
.photo{
	width: 508px;
	height: 300px;
	top: 922px;
	left: 86px;
}
.swiper-container,
.swiper-slide,
.photo a{
	width: 100%;
	height: 100%;
}
.photo a{
	display: block;
}
.photo a img{
	width: 100%;
}
.photo .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 0 7px;
}
.photo .swiper-pagination-bullet{
	width: 13px;
	height: 13px;
	background: #4d4d4d;
	opacity: 1;
}
.photo .swiper-pagination-bullet-active{
	background: #fff;
}
.choose{
	width: 465px;
	height: 40px;
	border-bottom: 1px solid #4b3d2b;
	top: 985px;
	left: 650px;
}
.choose a{
	width: 56px;
	height: 38px;
	text-align: center;
	line-height: 42px;
	color: #805d32;
	font-size: 16px;
	display: block;
	float: left;
	-webkit-transition: all .2s;
	transition: all .2s;
	border-bottom: 3px solid transparent;
}
.choose a.active{
	color: #b5a079;
	font-weight: bold;
	border-bottom: 3px solid #8d7659;
}
.choose .more{
	width: 19px;
	height: 19px;
	border: 1px solid #8d7659;
	top: 10px;
	right: 25px;
	cursor: pointer;
}
.choose .more i{
	width: 13px;
	height: 13px;
	background: url(../images/more.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6.5px 0 0 -6.5px;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.choose .more:hover i{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.tab{
	top: 1026px;
	left: 650px;
}
.tab li{
	width: 465px;
	height: 195px;
	overflow: hidden;
	display: none;
}
.tab li.active{
	display: block;
}
.tab li a{
	width: 465px;
	height: 24px;
	line-height: 24px;
	color: #805d32;
	font-size: 16px;
	display: block;
	margin-top: 15px;
}
.tab li a span{
	width: 390px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tab li a:hover span{
	text-decoration: underline;
}
.tab li a em{
	width: 70px;
	height: 24px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.poster{
	width: 950px;
	height: 755px;
	top: 150px;
	left: 50%;
	margin-left: -475px;
	text-align: center;
}
.poster .swiper-slide{
	width: 406px;
	height: 668px;
	-webkit-transition: all .6s;
	transition: all .6s;
}
.poster .swiper-slide img{
	width: 406px;
	height: 668px;
}
.poster .swiper-container-two .swiper-slide img{
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all .6s;
	transition: all .6s;
}
.poster .swiper-container-two .swiper-slide-active img{
	-webkit-transform: scale(1);
	transform: scale(1);
}
.poster .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 0 7px;
}
.poster .swiper-pagination-bullet{
	width: 40px;
	height: 80px;
	background: url(../images/icon_dian.png) no-repeat;
	opacity: 1;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.poster .swiper-pagination-bullet-active{
	background: url(../images/icon_dian_hover.png) no-repeat;
}
.poster .prev{
	width: 285px;
	height: 668px;
	top: 0;
	left: 0;
	z-index: 20;
}
.poster .next{
	width: 285px;
	height: 668px;
	top: 0;
	right: 0;
	z-index: 20;
}
.poster .swiper-container-three .swiper-slide-next{
	-webkit-transform:scale(1)!important;
	transform:scale(1)!important;
}
.banner{
	width:1920px;
	top: 0;
	left: 50%;
	margin-left: -960px;
}
.article{
	max-width: 1920px;
	min-width: 1200px;
	max-height: 1130px;
	overflow: hidden;
}
.article .inside_title{
	width: 304px;
	height: 170px;
	background: url(../images/inside_title.png) 50% 50% no-repeat;
	text-align: center;
	line-height: 170px;
	color: #9e6d35;
	font-size: 30px;
	font-weight: bold;
	margin: 0 auto;
}
.article .article_tab{
	width: 990px;
	height: 54px;
	top: 114px;
	left: 50%;
	margin-left: -495px;
}
.article .article_tab a{
	padding: 0 15px;
	height: 54px;
	display: block;
	float: left;
	line-height: 54px;
	text-align: center;
	margin-right: 30px;
	color: #9e6d35;
	font-size: 18px;
	border-bottom: 3px solid transparent;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.article .article_tab a:hover,
.article .article_tab a.active{
	color: #f4c495;
	border-bottom: 3px solid #f4c495;
}
.article_list{
	max-width: 1920px;
	min-width: 990px;
	border-bottom: 1px solid #3e2d1c;
}
.article_list li{
	height: 156px;
	border-top: 1px solid #3e2d1c;
}
.article_list li a{
	width: 990px;
	height: 156px;
	display: block;
	margin: 0 auto;
	position: relative;
}
.article_list li a span{
	width: 850px;
	line-height: 24px;
	color: #f4c495;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	top: 30px;
	left: 0;
}
.article_list li a em{
	top: 30px;
	right: 0;
	line-height: 24px;
	color: #765228;
	font-size: 16px;
	font-style: normal;
}
.article_list li a i{
	width: 100%;
	height: 55px;
	line-height: 26px;
	font-size: 16px;
	color: #765228;
	position: absolute;
	top: 65px;
	left: 0;
	display: -webkit-box !important;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-o-line-clamp: 2;
	-ms-line-clamp: 2;
	line-clamp: 2;
}
.article_list li a:hover i{
	text-decoration: underline;
}
.page{
	width: 990px;
	height: 167px;
	text-align: center;
	margin: 0 auto;
}
.page p,
.page a{
	display: inline-block;
	vertical-align: middle;
}
.page p{
	min-width: 100px;
	line-height: 167px;
	color: #755337;
	font-size: 14px;
}
.page a{
	position: relative;
	margin: 0 10px;
}
.pic_icon_prev,
.return{
	height:29px;
	width:29px;
	background: url(../images/pic_icon_prev.png) no-repeat;
}
.pic_icon_prev i,
.return i{
	background:url(../images/pic_icon_prev_hover.png) no-repeat;
}
.pic_icon_next{
	height:29px;
	width:29px;
	background: url(../images/pic_icon_next.png) no-repeat;
}
.pic_icon_next i{
	background:url(../images/pic_icon_next_hover.png) no-repeat;
}
.bread{
	max-width: 1920px;
	min-width: 990px;
	height: 100px;
	border-bottom: 1px solid #3e2d1c;
	margin: 0 auto;
}
.bread .bread_navigation{
	width: 990px;
	margin: 0 auto;
}
.bread_navigation p{
	position: absolute;
	width: 925px;
	top: 59px;
	left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #9e6d35;
	font-size: 16px;
	line-height: 20px;
}
.bread_navigation p a{
	color: #9e6d35;
}
.bread_navigation p a:hover{
	text-decoration: underline;
}
.bread_navigation .return{
	top: 50px;
	right: 0;
}
.text_details{
	width: 990px;
	min-height: 200px;
	padding: 20px 0 120px;
	margin: 0 auto;
}
.text_details .text_title{
	width: 990px;
	font-size: 18px;
	color: #9e6d35;
	text-align: center;
	line-height: 30px;
	margin: 20px 0 40px;
}
.text_details .text_title em{
	color: #9e6d35;
	font-size: 16px;
}
.text_details .text_content{
	color: #867a6d;
	text-align: left;
}
.mask{
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	opacity: .8;
	filter: alpha(opacity=80);
}
.shadow{
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	opacity: .8;
	filter: alpha(opacity=80);
}
.bounceIn {
	-webkit-animation:bounceIn 1s ease both;
	animation:bounceIn 1s ease both;
}
@-webkit-keyframes bounceIn {
	0% {
		opacity:0;
		-webkit-transform:scale(.3)
	}
	50% {
		opacity:1;
		-webkit-transform:scale(1.05)
	}
	70% {
		-webkit-transform:scale(.9)
	}
	100% {
		-webkit-transform:scale(1)
	}
}
@keyframes bounceIn {
	0% {
		opacity:0;
		transform:scale(.3)
	}
	50% {
		opacity:1;
		transform:scale(1.05)
	}
	70% {
		transform:scale(.9)
	}
	100% {
		transform:scale(1)
	}
}
.pop{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	overflow: hidden;
}
.pop .pop_close{
	width: 78px;
	height: 78px;
	top: 6px;
	right: 30px;
	text-indent: -999em;
}
.pop1{
	width: 820px;
	height: 528px;
	background: url(../images/pop1.png?v=20180612) no-repeat;
	margin: -264px 0 0 -410px;
}
.pop2{
	width: 765px;
	height: 589px;
	background: url(../images/pop2.png?v=20180612) no-repeat;
	margin: -294.5px 0 0 -382.5px;
}
.pop2 .pop_close,
.pop3 .pop_close{
	right: 51px;
}
.pop2 .pop2_p_1{
	text-align: center;
	line-height: 32px;
	color: #ecd4b2;
	font-size: 18px;
	margin-top: 130px;
}
.pop2 .pop_tip{
	width: 322px;
	height: 34px;
	background: url(../images/pop_tip.png) no-repeat;
	color: #ecd4b2;
	font-size: 18px;
	text-align: center;
	line-height: 33px;
	margin:25px auto 10px; 
}
.pop2 img{
	width: 194px;
	height: 194px;
	display: block;
	margin:0 auto; 
}
.pop2 .pop2_p_2{
	color: #ecd4b2;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
}
.pop3{
	width: 842px;
	height: 868px;
	background: url(../images/pop3.png?v=20180612) no-repeat;
	margin: -434px 0 0 -421px;
}
.pop4{
	width: 822px;
	height: 758px;
	background: url(../images/pop4.png?v=20180612) no-repeat;
	margin: -379px 0 0 -411px;
}
.pop5{
	width: 722px;
	height: 432px;
	background: url(../images/pop5.png) no-repeat;
	margin: -216px 0 0 -361px;
}
.pop_kf{
  width: 248px;
	height: 268px;
  margin: -128.5px 0 0 -118.5px;
  border-radius: 5px;
}
.pop_kf img{
    width: 207px;
    height: 227px;
    display: block;
    margin: 15px 15px;
    border: 5px solid #fff;
    border-radius: 5px;
}
.pop1 h3{
	color: #ecd4b2;
	font-size: 24px;
	text-align: center;
	line-height: 30px;
	margin: 120px 0 0 31px;
	font-weight: 500;
}
.pop1 p{
	font-size: 18px;
	color: #ecd4b2;
	text-align: center;
	line-height: 32px;
	margin: 5px 0 0 31px;
}
.pop1 .operation{
	width: 290px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #ecd4b2;
	font-size: 18px;
	top: 245px;
	left: 50%;
	margin-left: -133px;
}
.pop1 .operation sup,
.pop1 .operation sub{
	width: 80px;
	height: 2px;
	background: #d1b998;
	position: absolute;
	top: 16px;
}
.pop1 .operation sup{
	left: -80px;
}
.pop1 .operation sub{
	right: -80px;
}
.pop1 .pop_choose{
	width: 660px;
	height: 32px;
	top: 280px;
	left: 50%;
	margin-left: -330px;
	text-align: center;
}
.pop1 .pop_choose a{
	width: 105px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 40px;
}
.pop1 .pop_choose a i{
	width: 20px;
	height: 20px;
	background: url(../images/pop_choose.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.pop1 .pop_choose a i em{
	width: 20px;
	height: 20px;
	background: url(../images/pop_choose_active.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all .5s;
	transition: all .5s;
	opacity: 0;
}
.pop1 .pop_choose a.active i em{
	opacity: 1;
}
.pop1 .pop_choose a span{
	width: 78px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	line-height: 32px;
	text-indent: 5px;
	color: #ecd4b2;
	font-size: 18px;
}
.pop_btn{
	width: 342px;
	height: 80px;
	background: url(../images/pop_btn.png) no-repeat;
	text-align: center;
	line-height: 71px;
	color: #fff;
	font-size: 24px;
	text-shadow:#241907 2px 0 0,#241907 0 2px 0,#241907 -2px 0 0,#241907 0 -2px 0;
	font-weight: bold;
	display: block;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.pop_btn:hover{
	background: url(../images/pop_btn_hover.png) no-repeat;
}
.pop1 .pop_btn{
	top: 330px;
	left: 50%;
	margin-left: -161px;
}
.pop2 .btn_sure{
	top: 400px;
	left: 50%;
	margin-left: -161px;
}
.pop3 p{
	color: #ecd4b2;
	font-size: 18px;
	text-align: center;
	line-height: 32px;
}
.pop3 .pop3_p_1{
	margin: 110px 0 0 7px;
}
.pop3 .pop_reward{
	width: 504px;
	height: 224px;
	display: block;
	margin: 0 auto;
}
.pop3 .pop3_p_2{
	margin: 25px 0 -8px 8px;
}
.make{
	width: 350px;
	margin-left: 248px;
	position: relative;
}
.make .entry{
	margin: 20px 0;
}
.make input{
	height: 64px;
	line-height: 60px;
	text-align: center;
	color: #725a3b;
	font-size: 18px;
}
.make input::-webkit-input-placeholder {
	color:#725a3b;
}
.make input:-moz-placeholder {
	color:#725a3b;
}
.make input::-moz-placeholder {
	color:#725a3b;
}
.make input:-ms-input-placeholder {
	color:#725a3b;
}
.make .tel input{
	width: 342px;
	background: url(../images/pop_input.png) no-repeat;
}
.make .code input,
.make .captcha input{
	width: 207px;
	background: url(../images/pop_input2.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.make .code span,
.make .captcha span{
	width: 133px;
	height: 62px;
	background: url(../images/pop_btn2.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	text-align: center;
	line-height: 60px;
	text-shadow:#241907 2px 0 0,#241907 0 2px 0,#241907 -2px 0 0,#241907 0 -2px 0;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.make .code span:hover{
	background: url(../images/pop_btn2_hover.png) no-repeat;
}
.make .hui,
.make .code span.hui{
	-webkit-filter:grayscale(1);
	-moz-filter:grayscale(1);
	filter:grayscale(1);
	cursor: default;
}
.make .captcha img{
	width: 130px;
	height: 60px;
	cursor: pointer;
}
.make .error{
	color: #ecd4b2;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	text-align: center;
}
.pop4 .pop_close{
	right: 74px;
}
.pop4 p{
	color: #ecd4b2;
	line-height: 32px;
	font-size: 18px;
}
.pop4 .pop4_h{
	color: #ecd4b2;
	font-size: 24px;
	text-align: center;
	margin: 140px 0 0 23px;
}
.pop4 input{
	width: 342px;
	height: 61px;
	background: url(../images/pop_input.png) no-repeat;
	text-align: center;
	line-height: 60px;
	color: #200c0a;
	font-size: 24px;
	display: block;
	margin:20px 0 0 249px;
}
.pop4 p span{
	color: #fff;
}
.pop4 .pop4_p1{
	top:301px;
	left: 234px;
}
.pop4 .pop4_p2{
	top:352px;
	left: 202px;
}
.pop4 .pop4_p3{
	top:459px;
	left: 202px;
}
.pop5 .pop_close{
	right: 3px;
}
.pop5 p{
	color: #ecd4b2;
	font-size: 18px;
	line-height: 32px;
	margin: 145px 0 0 110px;
}
.pop5 .btn_know{
	top: 285px;
	left: 50%;
	margin-left: -175px;
}
.flo{
	width: 188px;
	height: 446px;
	background: url(../images/flo.png?v=20180612) no-repeat;
	position: fixed;
	top: 307px;
	right: 97px;
	z-index: 100;
}
.flo img{
	width: 126px;
	position: absolute;
	top: 172px;
	left: 31.5px;
}
.flo p{
	position: absolute;
	bottom: 110px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #c58d4c;
	font-size: 14px;
}
.btn_tap{
	width: 148px;
	height: 47px;
	background: url(../images/btn_tap.png) no-repeat;
}
.btn_tap i{
	background: url(../images/btn_tap_hover.png) no-repeat;
}
.flo .btn_tap{
	bottom: 55px;
	left: 23px;
}
.flo .flo_close{
	width: 40px;
	height: 40px;
	text-indent: -999em;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
}
.page_flo{
	width: 180px;
	height: 593px;
	background: url(../images/page_flo.png?v=20180302) no-repeat;
	position: fixed;
	top: 50%;
	right: 97px;
	margin-top: -296.5px;
	z-index: 100;
}
.page_flo .btn_android2{
	width: 171px;
	height: 58px;
	background: url(../images/btn_android2.png?v=20180227) no-repeat;
	top: 289px;
	left: 6px;
}
.page_flo .btn_android2 i{
	background: url(../images/btn_android2_hover.png?v=20180227) no-repeat;
}
.page_flo .btn_appstore2{
	width: 171px;
	height: 58px;
	background: url(../images/btn_appstore2.png) no-repeat;
	top: 351px;
	left: 13px;
}
.page_flo .btn_appstore2 i{
	background: url(../images/btn_appstore2_hover.png) no-repeat;
}
.page_flo .btn_tap{
	top: 414px;
	left: 18px;
}
.page_flo p{
	position: absolute;
	top: 475px;
	left: 3px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #c58d4c;
}
.page_flo ul{
	width: 100%;
	position: absolute;
	top: 500px;
	left: 3px;
	text-align: center;
}
.page_flo ul li{
	width: 43px;
	height: 81px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0 4px;
}
.page_flo ul li a{
	width: 43px;
	height: 43px;
	display: block;
}
.page_flo ul li .icon_kf{
	background: url(../images/icon_kf.png) no-repeat;
}
.page_flo ul li .icon_kf i{
	background: url(../images/icon_kf_hover.png) no-repeat;
}
.page_flo ul li .icon_wx{
	background: url(../images/icon_wx.png) no-repeat;
}
.page_flo ul li .icon_wx i{
	background: url(../images/icon_wx_hover.png) no-repeat;
}
.page_flo ul li .icon_qq{
	background: url(../images/icon_qq.png) no-repeat;
}
.page_flo ul li .icon_qq i{
	background: url(../images/icon_qq_hover.png) no-repeat;
}
.page_flo ul li .icon_pub_num{
	width: 143px;
	height: 144px;
	top: 50px;
	left: -53px;
	display: none;
}
.page_flo ul .pub_num:hover .icon_pub_num,
.page_flo ul .qq_group:hover .icon_qq_group,
.page_flo ul .kf_num:hover .icon_kf_num{
	display: block;
}
.page_flo ul li .icon_kf_num{
	width: 140px;
	height: 169px;
	top: 50px;
	left: -51px;
	display: none;
}
.page_flo ul li .icon_qq_group{
	width: 172px;
	height: 223px;
	background: url(../images/icon_qq_group.png) no-repeat;
	top: 50px;
	left: -63px;
	display: none;
}
.page_flo ul li .icon_qq_group p{
	color: #c9b98d;
	line-height: 30px;
	top: 49px;
	left: 0;
}
.footer{
	z-index:0!important;
}
.btn_newversion{
	width: 296px;
    height: 65px;
    top: 50%;
    left: 50%;
    margin: -266.5px 0 0 -128px;
    z-index: 50;
    text-indent: -999em;
}