.h924{
    height: 924px;
}
.bgimg0{
    background-image: url(../img/eve-hero-banner.jpg);
    background-size: cover;
}
.w392h67{
    width: 392px;
    height: 67px;
}
.m200auto{
    margin: 200px auto;
}
.t800l50perml_200{
    top: 800px;
    left: 50%;
    margin-left: -200px;
}
.t900l50perml_105{
    top: 900px;
    left: 50%;
    margin-left: -105px;
}
.t1000{
    top: 1000px;
}
.w10h10{
    width: 10px;
    height: 10px;
}
.bg00bebe{
    background: #00bebe;
}
.l50perml_35{
    left: 50%;
    margin-left: -35px;
}
.l50perml_15{
    left: 50%;
    margin-left: -15px;
}
.l50perml5{
    left: 50%;
    margin-left: 5px;
}
.l50perml25{
    left: 50%;
    margin-left: 25px;
}
.w70h10{
    width: 70px;
    height: 10px;
}
.l50perml_35b30{
    left: 50%;
    margin-left: 35px;
    bottom: 30px;
}